:root{
    --menu_width: 70px;

    --border_color: rgba(192, 188, 188, 0.678);
    --shadow_color: rgb(206, 206, 206);
    --hover_color: rgb(255, 177, 51);
    --font_color: black;
}

.on {color: green}
.off {color: rgb(218, 32, 32)}
.in_game {color: rgb(0, 183, 255);}
.waiting {color: orange}

html, body{
    background-color: black;
    display: grid;
    height: 100%;
    width: 100%;
    min-width:600px; 
}

.container{display: grid;}

.title{font-weight: bold;}

.btn {
    border-radius: 6px;
}

.arrow{
    background-color: transparent;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
}
  

.txtarea::-webkit-input-placeholder {
    color: darkgray;
}

.txtbox {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.125em 0.25em;
    border-radius: 6px;
}

.txtarea{
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    border: 1px solid darkgray;
    padding: 0.5em 1em;
    box-sizing: border-box;
    resize: none;
    border-radius: 4px;
}

.link{color: darkgray;}
.link:hover{color: white;}

/* Menu Bar */
.menubtn{
    width: max-content;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--border_color);
    color: var(--font_color);
    cursor: pointer;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    outline: 0;
}

.st_button{
    grid-row-start: 10;
}

.menubtn:focus {
    background-color: var(--shadow_color);
    color: white;
    font-weight: bolder;
    
}

.menubtn:hover:not(:focus) {
    box-shadow: 0 0 40px 40px var(--hover_color) inset;
    color: var(--font_color);
    font-weight: bold;
}

.menu.container {
    padding-top: 1em;
    padding-bottom: 1em;
    grid-template-rows: repeat(10, 1fr);
    /* border-right: 1px solid black; */
    background-color: white;
    grid-row-gap: 1em;
    /* box-shadow: 5px 5px 20px; */
}

.menubtn{
    --diameter: calc(var(--menu_width) - 8px);
    width: var(--diameter);
    height: var(--diameter);
    place-self: center center;
}

.sbm{
    font-weight: bold;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}
.sbm:hover{
    background-color: white;
    border: 1px solid white;
    color: black;
}

.avatar{
    border-radius: 50%;
}

table, th, td {
    text-align: center;
    padding: 0.2em;
}

.row.head{
    width: 100%;
}

p, .arrow{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

