.main.container {
    height: 100%;
    width: 100%;
    background-color: rgb(187, 187, 187);
    grid-template: 100% / var(--menu_width) 1fr;
}

.ingame.container{
    grid-template: 100% / 70% 30%;
}

.game.container{
    grid-template: 4% 96% / 100%;
    box-shadow: inset -5px 15px 20px #000000;
}

.statbar.container {
    background-color: rgb(61, 61, 61);
    grid-template: 100% / 1fr 1fr 1fr;
}

.statbar p:nth-child(1){
    margin-left: 2em;
    place-self: center start;
}

.statbar p:nth-child(2){
    place-self: center center;
}

.statbar p:nth-child(3){
    margin-right: 2em;
    place-self: center end;
}

canvas {
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 0 0 20px;
    place-self: start center;
}

.chat.container{
    background-color: rgb(32, 32, 32);
}


