.main.container {
    height: 100%;
    width: 100%;
    grid-template: 100% / var(--menu_width) 1fr;
}

.gtable.container {
    overflow: scroll;
    background-color: rgb(37, 37, 37);
}

tr {
    border-bottom: 1px solid white;
}
th {
    background-color: rgb(238, 238, 238);
    border: 2px solid rgba(0, 0, 0, 0.281);
}
td {
    color: white
}
 
tr:nth-child(even) {
    background:rgb(24, 24, 24);
}

.action {
    text-align: center;
}

td.action .btn:nth-child(2){
    margin-left: 1em;
}



