.form.container{
    height: 280px;
    width: 400px;
    place-self: center center;
}

.signup.form {
    display: grid;
    height: 100%;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    grid-row-gap: 0.7em;
}

input {color: white; background-color: black;}
input:focus {color: white;}

.txtbox {
    border: 1px solid white;
    grid-column: 3 / 8;
}

.usn_lable, .eml_lable, .bhd_lable, .pwd_lable, .cfm_lable{
    color: white;
    grid-column: 1 / 3;
    place-self: center start;
}

.msg, .sbm, .signin{
    grid-column-start: span 8;
    place-self: start center;
}

.usn_lable, .usn{
    grid-row-start: 1;
}

.eml_lable, .eml{
    grid-row-start: 2;
}

.bhd_lable, .bhd{
    grid-row-start: 3;
}

.pwd_lable, .pwd{
    grid-row-start: 4;
}

.cfm_lable, .cfm{
    grid-row-start: 5;
}

.msg{
    grid-row-start: 6;
}

.sbm {
    border: 1px solid white;
    grid-row-start: 7;
    padding: 0.7em 2.5em 0.7em 2.5em;
}

.sbm:hover{
    background-color: lightgray;
    border: 1px solid lightgray;
    color: black;
}

.signin{
    grid-row-start: 8;
    grid-column-start: span 8;
}
